<p>This test dumps all of the properties that are reachable from the window
object, along with their types.</p>
<hr>
<pre id="pre"></pre>

<script>
if (window.layoutTestController)
    layoutTestController.dumpAsText();
    
var logBuffer = '';
function log(s)
{
    logBuffer += s;
}

var pre = document.getElementById('pre');
function flushLog()
{
    pre.appendChild(document.createTextNode(logBuffer));
}

function tryEval(string)
{
    try {
        return eval(string);
    } catch (e) {
        return new String("Caught exception: " + e);
    }
}

function typeOfNullAware(value)
{
    if (typeof value == "object" && value == null) //;
        return "null";
    return typeof value;
}

function typeStringNullAware(value)
{
    var valueType = typeOfNullAware(value);
    return valueType == "object"
        ? Object.prototype.toString.call(value)
        : "[" + valueType + "]";
}

var __skip__ = {
    "window.__skip__" : 1,
    "window.opener" : 1, // Work around DumpRenderTree bug where previous tests add window properties
    "window.Components" : 1, // Work around Firefox exception

    // Don't log DumpRenderTree injected objects
    "window.layoutTestController" : 1, // Work around http://bugs.webkit.org/show_bug.cgi?id=11373
    "window.GCController" : 1, 
    "window.accessibilityController" : 1,
    "window.appleScriptController" : 1,
    "window.eventSender" : 1,
    "window.navigationController" : 1,
    "window.objCController" : 1,
    "window.objCPlugin" : 1,
    "window.objCPluginFunction" : 1,
    "window.plainText" : 1,
    "window.textInputController" : 1,
    "window.internals" : 1,
    // Ignore these properties because they do not exist in all implementations. They will be tested separately
    "window.WebGLRenderingContext" : 1, 
    "window.WebGLActiveInfo" : 1, 
    "window.WebGLBuffer" : 1, 
    "window.WebGLFramebuffer" : 1, 
    "window.WebGLProgram" : 1, 
    "window.WebGLRenderbuffer" : 1, 
    "window.WebGLShader" : 1, 
    "window.WebGLTexture" : 1, 
    "window.WebGLUniformLocation" : 1, 
    "window.ArrayBuffer" : 1,
    "window.DataView" : 1,
    "window.Int8Array" : 1,
    "window.Uint8Array" : 1,
    "window.Int16Array" : 1,
    "window.Uint16Array" : 1,
    "window.Int32Array" : 1,
    "window.Uint32Array" : 1,
    "window.Float32Array" : 1,
    "window.clientInformation.geolocation" : 1,
    "window.Blob.prototype.webkitSlice" : 1,
    "window.FileError" : 1,
    "window.FileReader" : 1,
    "window.WebKitBlobBuilder" : 1,
    "window.DeviceOrientationEvent" : 1,
    "window.ondeviceorientation" : 1,
    "window.DeviceMotionEvent" : 1,
    "window.ondevicemotion" : 1,
    "window.performance" : 1,
    "window.webkitURL" : 1,

    // showModalDialog is not implemented on all platforms in DumpRenderTree.
    "window.showModalDialog" : 1,
    // Ignore this property because it only appears in debug builds.
    "window.jscprint" : 1
};

function logValue(valueName)
{
    // Don't taint the test with our own properties
    if (/__visitedByLogValue__/.test(valueName) || /__nameWhenVisitedByLogValue__/.test(valueName))
        return;

    if (__skip__[valueName])
        return;

    // Work around Firefox infinite recursion
    if (/\.[0-9]/.test(valueName))
        return;

    var value = tryEval(valueName);

    // Don't taint the test with our own variables
    if (value === logBuffer || value === pre)
        return;

    var valueType = typeOfNullAware(value);

    // Avoid infinite recursion
    if (valueType == "object" && value.__visitedByLogValue__) { //;
        log(valueName + " [printed above as " + value.__nameWhenVisitedByLogValue__ + "]\n");
        return;
    }

    log(valueName + " " + typeStringNullAware(value) + "\n");

    if (valueType == "object") {
        value.__visitedByLogValue__ = true;
        value.__nameWhenVisitedByLogValue__ = valueName;
        logProperties(value, valueName);
    }
}

function propertiesOnObject(o) {
    var namesSet = {};
    while (true) {
        var names = Object.getOwnPropertyNames(o);
        for (var i = 0; i < names.length; ++i)
            namesSet[names[i]] = 1;
        o = Object.getPrototypeOf(o);
        if (!o)
            break;
        // Avoid polluting results with built-in prototype properties.
        if ((o == Array.prototype) || (o == Object.prototype))
            break;
    }
    var result = [];
    for (var p in namesSet)
        result.push(p);
    return result;
}

function logProperties(object, objectName)
{
    var array = propertiesOnObject(object);
    array.sort();
    for (var i = 0; i < array.length; i++) {
        var property = array[i];
        logValue(objectName + "." + property);
    }
}

logValue('window');
logValue('window.getSelection()');
flushLog();

</script>
